<script>
  function addMultiToCart(productIds, cartId){

    /* Sets the URL to an existing cart id + /items, if not use the cart endpoint to create a new cart */
    let url = cartId !== '' 
    ? `/api/storefront/carts/${cartId}/items`
    : `/api/storefront/cart`
    /* Set a data variable to our lineItems object with the product ids mapped with a quantity of 1 */
    let data = {
        lineItems: productIds.map(id => ({
            quantity: 1,
            productId: id
        }))
          
    }
    console.log(url);
    let options = {
        method: 'POST',
        body: JSON.stringify(data),
        credentials: 'include',
        headers: {
            "Content-Type": "application/json"
        }
    }
    /* Finally we fetch the cart URL with the generated URL and supplied options */
    fetch(url, options)
    .then(res => res.json())
    .then(json => location.reload()); // Reloads the page
    
    }
</script>
<!-- This will stop the button from appearing if "is_bundle" isn't a custom field on the product -->
{{#if product.custom_fields}}
{{#each product.custom_fields}}
    {{#if this.name "is_bundle"}}
        <div>
            <input id="multiButton" data-wait-message="{{lang 'products.adding_to_cart'}}" class="button button--primary" type="submit"
                value="Combo to Cart">
        </div>
        {{else}}
    {{/if}}
    {{/each}}
{{/if}}
<script>   
    const multiButton = document.querySelector('#multiButton'); // Selects the #id that we'll attach the addMultiToCart function to, found on line 41 in this file
    multiButton.addEventListener('click', event  => {
        /* Create an array of each custom_field with the name 'foo' */
        const arr = [{{#each product.custom_fields}}{{#if name '===' 'foo'}}'{{value}}'{{#unless @last}},{{/unless}}{{/if}}{{/each}}];
        addMultiToCart(arr, '{{cart_id}}') // run the addMultiToCart function with the array we created and a cart ID if ones available in the context.
    });
</script>
