#multi-desc {
  background-color:steelblue;
  border:solid aliceblue 2px;
  display:flex;
  flex-direction:row;
  align-content: center;
  justify-content: space-around;
  align-items:center;
  flex-wrap:wrap;
}