
<div class="container"> <!-- This is different than the default product-view template, helps with spacing -->
  <!-- The majority of changes in this file are either complete removals or minor changes to styling. Page speed is heavily impacted when pulling the full template. -->
<div class="productView" {{#if settings.data_tag_enabled}} data-event-type="product" data-entity-id="{{product.id}}" data-name="{{product.title}}" data-product-category="{{#each product.category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}" data-product-brand="{{product.brand.name}}" data-product-price="{{#if product.price.with_tax}}{{product.price.with_tax.value}}{{else}}{{product.price.without_tax.value}}{{/if}}" data-product-variant="single-product-option"{{/if}} style="width:100%;">
  <section class="productView-details">
      <div class="productView-product">
          <h3 {{#if schema}}itemprop="name"{{/if}}>{{product.title}}</h3>
          {{#if product.brand}}
              <h4 {{#if schema}} itemprop="brand" itemscope itemtype="http://schema.org/Brand"{{/if}}>
                  <a href="{{product.brand.url}}"{{#if schema}} itemprop="url"{{/if}}><span{{#if schema}} itemprop="name"{{/if}}>{{product.brand.name}}</span></a>
              </h4>
          {{/if}}
          {{#if product.call_for_price}}
              <p class="productView-price">
                  <span>{{product.call_for_price}}</span>
              </p>
          {{/if}}
          <div class="productView-price" style="font-size: small;">
              {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                  {{> components/products/price price=product.price schema_org=schema}}
              {{else}}
                  {{> components/common/login-for-pricing}}
              {{/or}}
          </div>
          {{{region name="product_below_price"}}}
          <div class="productView-rating"{{#if product.num_reviews '>' 0}}{{#if schema}} itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"{{/if}}{{/if}}>
              {{#if settings.show_product_rating}}
                  {{#if product.num_reviews '>' 0}}
                      {{#if schema}}
                          <meta itemprop="ratingValue" content="{{product.rating}}">
                          <meta itemprop="ratingCount" content="{{product.num_reviews}}">
                          <meta itemprop="reviewCount" content="{{product.num_reviews}}">
                      {{/if}}
                  {{/if}}
                  {{> components/products/ratings rating=product.rating}}
                  <span class="productView-reviewLink">
                      {{#if product.num_reviews '>' 0}}
                          <a href="{{product.url}}#product-reviews">
                              {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                          </a>
                      {{else}}
                          {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                      {{/if}}
                  </span>
              {{/if}}
          </div>
      </div>
  </section>

  <section class="productView-images" data-image-gallery>
      {{!--
          Note that these image sizes are coupled to image sizes used in /assets/js/theme/common/product-details.js
          for variant/rule image replacement
      --}}
      <figure class="productView-image"
              data-image-gallery-main
              {{#if product.main_image}}
              data-zoom-image="{{getImageSrcset product.main_image (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size }}"
              {{/if}}
              >
          <div class="productView-img-container">
              {{!-- Remove the surrounding a-element if there is no main image. --}}
              {{#if product.main_image}}
                  <a href="{{getImageSrcset product.main_image (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size}}"
                      target="_blank"{{#if schema}} itemprop="image"{{/if}}>
              {{/if}}
              {{> components/common/responsive-img
                  image=product.main_image
                  class="productView-image--default"
                  fallback_size=theme_settings.product_size
                  lazyload=theme_settings.lazyload_mode
                  default_image=theme_settings.default_image_product
                  otherAttributes="data-main-image"
              }}
              {{!-- Remove the surrounding a-element if there is no main image. --}}
              {{#if product.main_image}}
                  </a>
              {{/if}}
          </div>
      </figure>

  </section>

</div>
</div>